---
let posts = await Astro.glob('./posts/*.md');
---
<style>
	.main{
		width: 50%;
		margin: auto;
		padding-top: 30px;
	}
</style>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>T1P1X | DevBlog</title>
	</head>
	<body>
		<div class="main">
			<h1 class="text-4xl font-sans font-bold">My developer blog</h1>
			<p class="text-lg font-semibold">Full-stack developer</p>
        	<p>&nbsp;</p>
			<p>Hi im a developer...</p>
        	<p>&nbsp;</p>
			<!-- shows my blogposts -->
			<h2 class="text-lg font-semibold underline">My blog posts</h2>
			<ul>
				{posts.map(post => {
						return(
							<li>
								<div class="flex flex-col">
									<a href={post.url}>{post.frontmatter.title} - {post.frontmatter.author}</a>
									<p class="text-xs">{post.frontmatter.introduction}</p>
								</div>
							</li>
        					<p>&nbsp;</p>
						)
					})
				}
			</ul>
		</div>
	</body>
	<footer>
		
	</footer>
</html>