---
import BlogPostCard from '../components/BlogPostCard.astro'
let posts = await Astro.glob('./posts/*.md');
---
<style>
	.main{
		width: 50%;
		margin: auto;
		padding-top: 30px;
	}
</style>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>T1P1X | DevBlog</title>
	</head>
	<body>
		<div class="main">
			<h1 class="text-3xl font-sans font-bold">Hi I'm Levi 👋</h1>
			<p class="text-lg font-semibold">and I'm a Full-stack developer</p>
        	<p>&nbsp;</p>
			<p>I like to code and keep my stuff minimalistic, here I post about projects and other topics.</p>			
        	<p>&nbsp;</p>
			<!-- shows my blogposts -->
			<h2 class="text-lg font-semibold underline">My blog posts</h2>
        	<p>&nbsp;</p>
			<div class="flex flex-row flex-wrap space-x-3">
				{posts.map(post => {
						return(
							<BlogPostCard title={post.frontmatter.title} url={post.url} introduction={post.frontmatter.introduction} tags={post.frontmatter.tags}/>	
        					<p>&nbsp;</p>
						)
					})
				}
			</div>
		</div>
	</body>
	<footer>
		
	</footer>
</html>